.Footer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  height: 150px;
  position: relative;
  bottom: -6px;
}
